
// base.scss
@mixin body-font {
  font-family: "Roboto", sans-serif;
}

@mixin heading-font {
  font-family: 'Roboto', serif;
}

@mixin heading-title-font {
  font-family: 'Bad Script', serif;
}

/* base color */
$base-color: #b58a60;
$secondary-color: #3d3a35;

$color-dark: #222222;
$color-grey: #6d6c6c;

/* used color */
$color-red: #b70015;
$color-light-red: #be142f;
$color-white: #ffffff;
$color-very-light-grey: #f5f5f5;
$color-light-grey: #ebebeb;

$color-dark-grey: #636363;
$color-yellow: #f4b350;
