
// themes.scss

// -----------------------------------------------------------------------------
// Common class
// -----------------------------------------------------------------------------

body {
	&.page-template-template-deals,
	&.page-template-template-facilities,
	&.page-template-contact-page {
		> #wrapper {
			margin-top: 110px;
		}
	}
}

.verticent {
	display: table;
	height: 100%;
	width: 100%;
	table-layout: fixed;
	.verticent-inner {
		display: table-cell;
    vertical-align: middle;

		@media(max-width: 1024px){
			text-align: center;
		}
		@media(max-width: 767px) {
			padding: 10px 5px;
			> span {
				display: block;
				text-align: center;
			}
		}
	}
}
a {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
h1, h3 {
	&.heading-title {
		color: $color-red;
		text-align: center;
		text-transform: uppercase;
		font-size: 24px;
		margin-bottom: 40px;
		position: relative;
		font-weight: 500;
	}
}

.double-option {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	@media(max-width: 767px){
		width: 90%;
	}
	a {
		width: 25%;
		@media(max-width: 767px){
			width: 40%;
		}
	}
	span {
		width: 5%;
		display: inline-block;
		@media(max-width: 767px){
			width: 10%;
		}
	}
}

.box-schedule {
	ul {
		list-style: none;
		padding-left: 0;

		li {
			@media(min-width: 768px) and (max-width: 1024px){
				display: inline-block;
				margin-bottom: 10px;
			}
			@media(max-width: 767px){
				display: inline-block;
			}
			span {
				float: left;
			}
			.scleft {
				min-width: 100px;
				@media(min-width: 768px) and (max-width: 1024px){
					font-weight: 600;
				}
			}
			.dot {
				padding: 0 10px;
				@media(min-width: 768px) and (max-width: 1024px){
					display: none;
				}
			}
			.scright {
				width: 160px;
			}
		}
	}
}

.slider-nav {
  &.global-thumbimg {
    margin: 0 -10px;

    .item {
      padding: 0 10px;
    }
  }
}

.global-centerimg, .global-thumbimg {
  a, span {
    display: block;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
      left: 50%;
      margin: 0 auto !important;
      position: absolute;
      height: 100%;
      width: auto;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
    }
  }
}
@media (min-width: 1025px) {
	.pll-parent-menu-item {
		display: none!important;
	}
}

// -----------------------------------------------------------------------------
// Top section
// -----------------------------------------------------------------------------
.section-top {
	position: relative;
	min-height: 60px;
	line-height: 60px;
	background: $color-white;
	z-index: 200;
	@media (max-width: 360px) {
		min-height: 50px;
		line-height: 50px;
	}

	.top-left, .top-right {
		width: 25%;
	}

	.top-logo {
		width: 50%;
		display: inline-block;
		vertical-align: middle;
		a {
			margin: 0 auto;
			display: table;
		}
		img {
			padding: 5px 0;
			height: 60px;
			//margin: 0 auto;
			-webkit-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
			@media (max-width: 360px) {
				height: 50px;
			}
		}
	}

}
.section-top {
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	&.scrolled {
		min-height: 50px;
		line-height: 50px;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		.top-logo {
			img {
				height: 50px;
				-webkit-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
			}
		}
	}
}

header {
	&.notscroll {
		.section-top, .navbar-default {
			background: transparent;
		}

	}
}

// -----------------------------------------------------------------------------
// Homepage
// -----------------------------------------------------------------------------
#wrapper {
	margin-bottom: 40px;
}

.homepage {
	.section {
		margin: 40px 0;
		h1, h3 {
			color: $base-color;
			text-align: center;
			text-transform: capitalize;
			font-weight: 400;
			margin-bottom: 25px;
		}

		&.main-slider {
			position: relative;
			margin-top: 0;

			.booking-box {
				position: absolute;
				width: 100%;
				bottom: 0;
				z-index: 999;
				@media(max-width: 767px) {
					position: static;
					padding-bottom: 30px;
					border-bottom: 1px solid $color-light-grey;
				}

				a {
					color: $color-yellow;
				}

				.box-logo {
					width: auto;
			    display: inline-block;
			    padding: 5px 10px;
					background: rgba(0,0,0,.7);
					img {
						height: 35px;
					}
				}
				h2 {
					&.visible-xs {
						color: $color-dark-grey;
						font-size: 20px;
						margin-top: 20px;
						text-transform: uppercase;
					}
				}
				.main-booking {
					background: rgba(0,0,0,.7);
					@media(max-width: 767px) {
						background: $color-white;
					}

					.fields {
						padding-top: 10px;
						input, select {
							border-radius: 0px;
							@media(max-width: 767px) {
								border-radius: 3px;
							}
						}
						.field {
							@media(max-width: 767px) {
								margin-bottom: 10px;
							}
						}
					}
					.booking-powered-by {
						margin-top: 0;
						img {
							height: 35px;
						}
					}
				}

				#datepicker {
					.field {
						.field-inner {
							position: relative;
							span {
								position: absolute;
								padding-left: 8px;
								top: 9px;
								font-size: 12px !important;
								@media(max-width: 767px) {
									font-size: 11px !important;
								}
							}
							input[type="text"] {
								text-align: right;
								font-size: 12px !important;
								background: $color-white;
								padding: 6px 8px;
								-webkit-box-shadow: none;
								-ms-box-shadow: none;
    						box-shadow: none;
								@media(max-width: 767px) {
									padding: 6px 5px;
									font-size: 11px !important;
								}
							}
						}
						&:first-child {
							padding-right: 0;
							@media(max-width: 767px) {
								padding-right: 15px
							}
						}
						&:last-child {
							padding-left: 0;
							@media(max-width: 767px) {
								padding-left: 15px;
								padding-right: 15px;
							}
						}
					}
				}

				#totalnumber {
					.form-group {
						&:after {
							content: '';
							display: table;
							clear: both;
						}
					}
					.field {
						&:first-child {
							padding-right: 2px;
							@media(max-width: 767px) {
								padding-right: 15px;
							}
						}
						&:last-child {
							padding-left: 2px;
							@media(max-width: 767px) {
								padding-left: 15px;
							}
						}
						.field-inner {
							position: relative;
							background: $color-white;
							@media(max-width: 767px) {
								border-radius: 3px;
    						overflow: hidden;
								float: right;
								width: calc(50% - 15px);
							}
							> input {
								float: left;
								&.qty {
									width: 40%;
									background: $color-white;
									text-align: center;
									border-radius: 0;
									-webkit-box-shadow: none;
									-ms-box-shadow: none;
	    						box-shadow: none;
								}
							}
							> button {
								float: left;
								&.qtyminus, &.qtyplus {
									width: 30%;
									background: $color-yellow;
									color: $color-white;
									text-align: center;
									border: 0;
    							outline: none;
									height: 34px;
								}
							}
						}
					}
				}

				button {
					width: 100%;
					@media(min-width:1025px){
						height: 34px;
					}
				}

				label, p {
					color: $color-white;
					font-weight: normal;
					font-size: 12px;
					@media(max-width: 767px) {
						color: $color-dark-grey;
					}
				}
				@media(max-width: 767px) {
					label {
						display: inline-block;
						line-height: 34px;
						margin-bottom: 0;
					}
				}
			}
		}
		&.content-intro {
			h1 {
				margin-bottom: 25px;
				font-style: italic;
			}
			.intro-image {
				ul {
					list-style: none;
					padding-left: 0;
					margin: 0 -10px;
					li {
						padding: 0 10px;
						float: left;
						width: 50%;
						span {
							position: relative;
					    height: 0;
					    padding-bottom: 70%;
					    overflow: hidden;
					    display: block;
							img {
								@include imgbase;
							}
						}
					}
				}
			}
			.intro-content {
				display: flex;
				justify-content: center;
				flex-direction: column;
			}
		}

		&.content-awards {
			@media(max-width: 767px){
				margin-bottom: 0;
			}
			.awards-slide {
				width: 80%;
				margin: 0 auto;
			}

			.awardimg {
				width: 35%;

				@media(max-width: 992px) {
					width: auto;
					display: block;
					float: none !important;
				}

				img {
					width: 65%;
					margin: 0 auto;

					@media(max-width: 992px) {
						max-width: 100%;
						display: block;
						float: none !important;
					}
				}
			}
			.awardtext {
				width: 65%;
				padding: 55px 0;

				@media(max-width: 992px) {
					width: auto;
					display: block;
					float: none !important;
					text-align: center;
				}

				@media(max-width: 767px){
					padding: 10px 0;
				}

				p {
					font-size: 20px;
				}
			}
			.awards-slide {
				position: relative;
			}
		}

		&.content-rooms {
			.slideroom-nav {
				@media(max-width: 767px){
					display: none;
				}
				.item {
					&:hover, &.slick-current {
						cursor: pointer;
						&:focus {
							outline: 0;
						}
						.thumb-room {
							background: $color-light-grey;
						}
					}
				}
				.thumb-room {
					margin-bottom: 5px;
				}
				.room-img {
					width: 30%;
					float: left;
				}
				.room-name {
					width: 65%;
					float: left;
					padding: 7px 15px;
					text-transform: uppercase;
					h4 {
						color: $color-red;
						margin-bottom: 5px;
						margin-top: 10px;
					}
				}
			}
		}
		&.content-excerpt {
			background: url('../img/slide/breather-163395.jpg');
			background-position: center;
			height: 350px;
			position: relative;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			justify-content: center;
			&:after {
				background: rgba(0,0,0,.5);
		    position: absolute;
		    content: "";
		    width: 100%;
		    top: 0;
		    bottom: 0;
			}
			.box-excerpt {
				width: 60%;
				margin: 0 auto;
				border: 2px solid $color-white;
				padding: 40px;
				position: relative;
				z-index: 1;
				color: $color-white;
				h2 {
					margin-bottom: 30px;
					@include heading-title-font;
				}
			}
		}

	}
}

// -----------------------------------------------------------------------------
// Pages
// -----------------------------------------------------------------------------


	.content-rooms, .content-resto, .content-gallery, .content-facility, .content-meeting, .content-deals, .content-beauty {
		.box-content {
			border: 1px solid $color-light-grey;
			margin-bottom: 30px;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			transition: all 0.5s ease;
			&:hover {
				border: 1px solid $color-grey;
			}

			.box-image {
				margin-bottom: 5px;
				a, span {
					position: relative;
			    height: 0;
			    padding-bottom: 58.34%;
			    overflow: hidden;
			    display: block;
					img {
						@include imgbase;
					}
				}
			}

			.box-info {
				padding: 15px;

				> img {
					margin: 0 auto 20px;
					height: 55px;
				}

				.desc {
					p {
						height: 100px;
						overflow: hidden;
						min-height: 85px;
					}
				}

				h4 {
					text-transform: uppercase;
					font-weight: 400;
					font-size: 16px;
					color: $color-red;
					position: relative;
					padding-bottom: 20px;
					margin-bottom: 20px;
					&:after {
						content: '';
						position: absolute;
						bottom: 0;
						right: calc(50% - 35px);
						left: calc(50% - 35px);
						height: 1px;
						width: 75px;
						background: $color-light-grey
					}
				}
				h2 {
					font-size: 22px;
					text-transform: uppercase;
					color: $color-red;
					padding-bottom: 20px;
					margin-bottom: 20px;
					position: relative;
					&:after {
						content: '';
						position: absolute;
						bottom: 0;
						right: calc(50% - 35px);
						left: calc(50% - 35px);
						height: 1px;
						width: 75px;
						background: $color-light-grey
					}
				}

				.subtitle {
					font-size: 16px;
					text-transform: uppercase;
				}

				.info-detail {
					list-style: none;
					padding-left: 0;
					//width: 80%;
					margin: 0 auto;
					text-align: left;
					margin-bottom: 20px;

					li {
						span {
							display: inline-block;
						}
						.detail-left {
							min-width: 85px;
							@media(max-width: 767px) {
								min-width: 0;
								width: 75px;
							}
						}
						.dot {
							padding: 0 5px;
							@media(max-width: 767px) {
								padding: 0 3px;
							}
						}
					}
				}
			}
		}
	}
	.page {
	.main-slider {
		margin-bottom: 30px;

		&.slider-resto {
			.owl-carousel {
				.owl-slide {
					padding-bottom: 80vh;
					background-position: 50% 30%;
				}
			}
		}
		&.slider-room, &.slider-gallery, &.slider-facilities, &.slider-beauty, &.slider-meeting, &.slider-deals {
			.owl-carousel {
				.owl-slide {
					padding-bottom: 80vh;
					background-position: 50% 50%;
				}
				.owl-nav {
					top: 50%;
				}
			}
		}
	}
	.content-resto {
		&.resto-detail {
			h1 {
				position: relative;
				padding-bottom: 30px;
				margin-bottom: 30px;
				&:after {
					content: "";
					position: absolute;
					bottom: 0;
					right: calc(50% - 35px);
					height: 3px;
					width: 75px;
					background: #ebebeb;
				}
			}
		}
		.box-info {
			.box-logo {
				margin: 0 auto 20px;
			}
		}
	}
	.content-deals {
		.box-content {
			.box-image {
				a {
					padding-bottom: 48.34%;
				}
			}
		}
	}
	.content-beauty {
		.beauty-box {
			text-align: center;
			font-size: 0;

			.boxset {
				display: inline-block;
				float: none;
				box-sizing: border-box;
				font-size: 14px;
			}
		}
	}
	.content-rooms {
		&.room-detail {
			h1 {
				margin-bottom: 15px;
				padding-bottom: 5px;
			}
			.sub-title, .subtitle {
				text-align: center;
				text-transform: uppercase;
				font-weight: 400;
				font-size: 16px;
				margin-bottom: 30px;
				padding-top: 25px;
				position: relative;
				&:before {
					content: "";
			    position: absolute;
			    top: 0;
			    right: calc(50% - 35px);
			    height: 3px;
			    width: 75px;
			    background: #ebebeb;
				}
			}
		}
		.margin-blarge {
			p {
				text-align: justify;
			}
		}
	}
	.main-amenities {
		h4 {
			position: relative;
			padding-top: 30px;
			color: $color-red;
			padding-bottom: 20px;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: calc(50% - 35px);
				//left: calc(50% - 35px);
				height: 3px;
				width: 75px;
				background: $color-light-grey
			}
		}
		.amenities-box {
			background: $color-light-grey;
			padding: 20px 0;
			margin-bottom: 30px;
		}
	}

	.content-meeting {
		.box-info {
			> .desc {
				p {
					height: 80px;
					min-height: 80px;
				}
			}
		}
		&.meeting-detail {
			.box-proposal {
				margin: 20px 0 30px;
				a {
					width: 30%;
					@media(max-width: 767px){
						width: 70%;
					}
				}
				p {
					font-style: italic;
				}
			}

			.info-room {
				h4 {
					position: relative;
					padding-top: 30px;
					color: $color-red;
					padding-bottom: 20px;
					&:before {
						content: "";
				    position: absolute;
				    top: 0;
				    right: calc(50% - 35px);
				    height: 3px;
				    width: 75px;
				    background: #ebebeb;
					}
				}
			}
		}
	}
	.content-sitemap {
		.item-map > li > a {
			color: $color-red;

			li {
				list-style-type: none;
			}
		}
	}
	.content-contact {
		.contact-address {
			.contact-item {
				.box-icon {
					width: 50px;
					height: 50px;
					overflow: hidden;
					display: inline-block;
					margin: 0 auto;
					.icon-inner {
						display: table;
						text-align: center;
						width: 100%;
						height: 100%;
						table-layout: fixed;
						box-sizing: border-box;
						.icon {
							display: table-cell;
							vertical-align: middle;
						}
					}
				}
				i {
					font-size: 20px;
			    line-height: 20px;
			    vertical-align: middle;
					color: $color-red;
				}
			}
		}
		.contact-form {
			input[type="text"],
			input[type="email"],
			textarea  {
				line-height: 24px;
				width: 100%;
				border: 1px solid #dce0e2;
				padding: 7px 15px;
				font-size: 13px;
				margin-bottom: 10px;
				line-height: 24px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				min-height: 40px;
			}
			input[type="submit"]{
				width: 100%;
			}
		}
	}

	&.contact-page {
		margin-bottom: 0!important;
		.contact-map {
			margin-top: 30px;
		}
	}
	&.detail-facility {
		margin-bottom: 0!important;
		.facility-detail {
			position: relative;

			.container {
				&.slideshow {
					position: absolute;
					bottom: 13px;
					width: 100%;
					margin: 0 auto;
					background: rgba(0,0,0,.5);

					.slider-nav {
						@media(min-width: 1025px){
							width: 960px;
						}
						width: 90%;
						margin: 5px auto!important;

						.slick-track {
							margin: 0 auto;
						}

						&.global-thumbimg {
							.item {
								padding: 0 2px;
							}
						}
					}
				}
			}
		}
	}

	.content-facility {
		.row {
			text-align: center;
			font-size: 0;
			div[class*='col-'] {
				display: inline-block;
				font-size: 14px;
				float: none;
			}
		}
	}
}

.nbutton {
	border: 1px solid $color-red;
	padding: 10px 20px;
	text-align: center;
	text-transform: uppercase;
	color: $color-red;
	display: inline-block;
	@media(max-width: 767px){
		padding: 10px;
	}
	&:hover {
		color: $color-white;
		background: $color-red;
	}
}

// gallery page landing style

// -----------------------------------------------------------------------------
// Slider
// -----------------------------------------------------------------------------

.owl-carousel {
	position: relative;
	height: 100%;

	// div:not(.owl-controls) {
	// 	height: 100%;
	// }

	.owl-slide {
		display: block;
		width: 100%;
		height: 0;
		padding-bottom: 100vh;
		overflow: hidden;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	div.owl--text {
		position: absolute;
		bottom: 4em;
		left: 2em;
		width: 20em;
		height: 8em;
		padding: 1em;
		background: rgba(255, 255, 255, .5);
		border-radius: 4px;
	}

	.owl-nav {
		position: absolute;
		top: 40%;
		left: 20px;
		right: 20px;
		@media(max-width: 767px){
			top: 45%;
		}
		.owl-prev {
			float: left;
		}
		.owl-next {
			float: right;
		}
		i {
			color: $color-white;
			font-size: 40px;
		}
	}
	.deals-slide {
		.owl-prev {
			float: left;
			&:before {
				font-family: 'FontAwesome';
				content: '\f104';
				font-size: 28px;
				color: $color-white;
			}
		}
		.owl-next {
			float: right;
			&:before {
				font-family: 'FontAwesome';
				content: '\f105';
				font-size: 28px;
				color: $color-white;
			}
		}
		i {
			color: $color-white;
			font-size: 40px;
		}
	}
}

#wrapper {
	&.homepage {
		.owl-carousel {
			.owl-slide {
				// padding-bottom: calc(100vh - 70px);
				@media(max-width: 767px) {
					padding-bottom: 60vh;
				}
			}
		}
	}
}

// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------
.main-footer {
	background-color: $secondary-color;
	color: $color-grey;

	p {
		color: $color-grey;
	}
	ul {
		list-style: none;
		padding-left: 0;
	}
	.footer-social {
		ul {
			li {
				display: inline-block;
				padding: 0 10px;
				a {
					font-size: 30px;
				}
			}
		}
	}
	.footer-link {
		background: $color-light-grey;
		padding: 8px 0;

		@media(min-width: 1025px){
			ul {
				margin-bottom: 0;
				display: table;
				width: 100%;
			}

			li {
				padding: 0 10px;
				display: table-cell;
				white-space: nowrap;
				width: auto;
				a {
					text-transform: uppercase;
					color: $color-grey;
					&:hover {
						color: $color-white;
					}
				}
			}
		}
		@media(max-width: 1024px) {
			ul {
				text-align: center;
				li {
					display: inline-block;
					padding: 5px 10px;
					text-transform: uppercase;
					@media(max-width: 767px) {
						display: block;
					}
				}
			}
		}
		@media(max-width: 767px){
			padding: 25px 0 10px;
		}
	}

	.footer-info {
		color: $color-white;



	}
}

// slider slick style on single page
.slick-prev, .slick-next {
	line-height: normal;
	height: auto;
	width: auto;
}
.bigslide {
	.item {
		> span {
			display: block;
			position: relative;
			padding-bottom: 50%;
			min-height: 300px;
			@media(max-width: 1024px){
				padding-bottom: 100vh
			}
			img {
				position: absolute;
				height: auto;
				width: 100%;
				left: 50%;
				top: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				@media(max-width: 1024px){
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}
.global-thumbimg {
	margin-top: 20px !important;
}

// Mobile menu
.mobmenu {
  @media(min-width: 1025px){
    display: none;
  }

  position: absolute;
  top: 6px;
  right: 10px;
  line-height: 20px;

  .user-form {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    i {
      font-size: 26px;
      color: $color-dark-grey;
    }
  }
}
.toggleMenu {
  background: transparent;
  border: 1px solid $color-white;
  color: $color-white!important;
  display:  none;
  font-size: 20px;
  padding: 7px 10px;
}
#desknav {
  @media(max-width: 1024px) {
    .nav, .toggleMenu {
      display: none!important;
    }
  }
}
.sidenav {
  @media(min-width:1152px) {
    display: none;
  }

  @media(max-width: 1024px) {
    display: block;
  }

  background: rgba(0,0,0, .7);
  height: 100%;
  overflow-x: hidden;
  left: 0;
  top: 0;
  transition: 0.5s;
  position: fixed;
  width: 0;
  z-index: 999 !important;

  a {
    color: $color-dark-grey!important;
    display: block;
    font-size: 12px;
    padding: 0px;
    text-decoration: none;
    transition: 0.3s;
    line-height: 38px;

    @media(max-width: 767px) {
      line-height: 38px!important;
    }
  }

	li {
		a {
			@media(max-width: 1024px) {
				font-size: 14px;
				border-bottom: 1px solid $color-light-grey;
				text-transform: uppercase;
			}
		}
	}
	li {
		&.has-submenu {
			ul {
				li {
					a {
						@media(max-width: 1024px) {
							line-height: 20px !important;
							padding: 5px 10px !important;
						}
					}
				}
			}
		}
	}

  .closebtn {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 80px;
    color: $color-dark-grey!important;
		padding: 0 5px;
  }

  .monav {
    > li {
      border-bottom: 1px solid $color-white;
      display: block;
      position: relative;

			&:first-child {
				a {
					border-top: 1px solid $color-light-grey;
				}
			}

      .sub-menu {
				padding-left: 0;
        max-height: 0;
        overflow: hidden;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
      }
      &.shrink {
        > .sub-menu {
          max-height: 200em;
          -webkit-transition-duration: 1s;
          transition-duration: 1s;

          a {
						padding-left: 20px;
						background: rgba(0,0,0,0.03)
          }
        }
      }
      i {
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 0 10px;
        line-height: 38px;
        color: $color-dark-grey;
        cursor: pointer;
        height: 38px;
				font-size: 20px;
      }
    }
  }
}
#mobinav {
  .mobinav-inner {
    width: auto;
    background: $color-white;
    height: 100%;
    margin-right: 70px;
    color: $color-dark-grey;
		.monav {
			padding-left: 0;
			padding: 50px 15px;
		}

    &.default {
      .intro {
        background: $color-light-grey;
        padding: 15px 10px;
        text-align: center;
        span {
          text-transform: uppercase;
          display: block;
          margin-bottom: 5px;
        }
        a {
          margin: 0 10px;
          color: $color-white!important;
          border-radius: 3px;
          -webkit-border-radius: 3px;
        }
      }
      .monav {
        a {
          i {
            position: relative;
            color: $color-dark-grey!important;
          }
        }
        .line-top {
          margin-top: 10px;
          padding-top: 10px;
          border-top: 1px solid $color-light-grey;
        }
        .line-bottom {
          margin-bottom: 10px;
          border-bottom: 1px solid $color-light-grey;
        }
      }
    }
    &.login {
      .monav {
        .mobprofile {
          padding: 15px 10px;
          background: $color-light-grey;
          .nav-profile {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// bootstrap nav menu break point
@media (max-width: 1024px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
		float: left;
		padding: 0;
		border: 0;
		.icon-bar {
			width: 30px;
			height: 3px;
			border-radius: 0;
			background-color: $color-white!important;
			margin-bottom: 2.5px;
			margin-top: 2.5px;
		}
		@media(max-width: 767px){
			margin-left: 15px;
		}
		&:focus {
			background-color: transparent!important;
		}
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none !important;
		display: block !important;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
}
