<footer class="main-footer text-center">
  <div class="footer-social">
    <div class="container">
      <h4>Follow Us</h4>
      <ul>
        <li><a href="#"><i class="icon-facebook-circled"></i></a></li>
        <li><a href="#"><i class="icon-twitter-circled"></i></a></li>
        <li><a href="#"><i class="icon-instagrem"></i></a></li>
      </ul>
    </div><!-- end  .container -->
  </div><!-- end .footer-social -->
  <div class="footer-info">
    <div class="container">
      <h4>Address</h4>
      <p>Jl. Laksda Adisucipto Km 6.5 Seturan Yogyakarta </p>
    </div><!-- end .container -->
  </div><!-- end .footer-info -->
  <div class="footer-link">
    <div class="container">
      <ul class="clearfix">
        <li><a href="page-aboutus.html">About Eastyle Hotel</a></li>
        <li><a href="page-privacy.html">PRIVACY POLICY</a></li>
        <li><a href="page-terms.html">Terms & Conditions</a></li>
        <li><a href="page-security.html">Security & Safety</a></li>
        <li><a href="page-sitemap.html">Sitemap</a></li>
      </ul>
    </div><!-- end  .container -->
  </div><!-- end .footer-content -->

</footer>
