<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="asset/js/vendor/vendor.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDmvXT3dnOfHS52c5vcBSf9kyOC_zQqVuA"></script>
<script type="text/javascript" src="asset/js/global.min.js"></script>


<script>
	// function initialise() {
	// 	var myLatlng = new google.maps.LatLng(-7.781704, 110.408405); // Add the coordinates
	// 	var mapOptions = {
	// 		zoom: 16, // The initial zoom level when your map loads (0-20)
	// 		minZoom: 6, // Minimum zoom level allowed (0-20)
	// 		maxZoom: 17, // Maximum soom level allowed (0-20)
	// 		zoomControl:true, // Set to true if using zoomControlOptions below, or false to remove all zoom controls.
	// 		zoomControlOptions: {
  // 				style:google.maps.ZoomControlStyle.DEFAULT // Change to SMALL to force just the + and - buttons.
	// 		},
	// 		center: myLatlng, // Centre the Map to our coordinates variable
	// 		mapTypeId: google.maps.MapTypeId.ROADMAP, // Set the type of Map
	// 		scrollwheel: false, // Disable Mouse Scroll zooming (Essential for responsive sites!)
	// 		// All of the below are set to true by default, so simply remove if set to true:
	// 		panControl:false, // Set to false to disable
	// 		mapTypeControl:false, // Disable Map/Satellite switch
	// 		scaleControl:false, // Set to false to hide scale
	// 		streetViewControl:false, // Set to disable to hide street view
	// 		overviewMapControl:false, // Set to false to remove overview control
	// 		rotateControl:false // Set to false to disable rotate control
	//   	}
	// 	var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions); // Render our map within the empty div
	// 	var image = new google.maps.MarkerImage("http://icons.iconarchive.com/icons/icons-land/vista-map-markers/256/Map-Marker-Marker-Outside-Pink-icon.png", null, null, null, new google.maps.Size(40,40)); // Create a variable for our marker image.
	// 	var marker = new google.maps.Marker({ // Set the marker
	// 		position: myLatlng, // Position marker to coordinates
	// 		icon:image, //use our image as the marker
	// 		map: map, // assign the market to our map variable
	// 		title: 'Click here for more details' // Marker ALT Text
	// 	});
	// 	// 	google.maps.event.addListener(marker, 'click', function() { // Add a Click Listener to our marker
	// 	//		window.location='http://www.snowdonrailway.co.uk/shop_and_cafe.php'; // URL to Link Marker to (i.e Google Places Listing)
	// 	// 	});
	// 	var infowindow = new google.maps.InfoWindow({ // Create a new InfoWindow
  // 			content:"<strong>Eastparc Hotel Yogyakarta</strong>, best price guarantee!!" // HTML contents of the InfoWindow
  // 		});
	// 	google.maps.event.addListener(marker, 'click', function() { // Add a Click Listener to our marker
  // 			infowindow.open(map,marker); // Open our InfoWindow
  // 		});
	// 	google.maps.event.addDomListener(window, 'resize', function() { map.setCenter(myLatlng); }); // Keeps the Pin Central when resizing the browser on responsive sites
	// }
	// google.maps.event.addDomListener(window, 'load', initialise); // Execute our 'initialise' function once the page has loaded.

</script>
<script>
  jQuery('#videoleft').magnificPopup({
  items: {
       src: 'https://www.youtube.com/watch?v=aOAzsfZW-nI'
     },
  type: 'iframe',
  iframe: {
        markup: '<div class="mfp-iframe-scaler">'+
                '<div class="mfp-close"></div>'+
                '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
                '</div>',
        patterns: {
            youtube: {
                index: 'youtube.com/',
                id: 'v=',
                src: '//www.youtube.com/embed/%id%?autoplay=1'
            }
         },
         srcAction: 'iframe_src',
     }
  });
</script>
<script>
  jQuery('#videoright').magnificPopup({
  items: {
       src: 'https://www.youtube.com/watch?v=4YBIcVvOxgU'
     },
  type: 'iframe',
  iframe: {
        markup: '<div class="mfp-iframe-scaler">'+
                '<div class="mfp-close"></div>'+
                '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
                '</div>',
        patterns: {
            youtube: {
                index: 'youtube.com/',
                id: 'v=',
                src: '//www.youtube.com/embed/%id%?autoplay=1'
            }
         },
         srcAction: 'iframe_src',
     }
  });
</script>
