<header>
  <div class="section-top">
    <div class="container clearfix">
      <div class="top-left text-center pull-left">

      </div>
      <div class="top-logo">
          <a href="index.html"><img src="asset/img/logo-eastyle.png" alt="" class="img-responsive"></a>
      </div>
      <div class="top-right text-center pull-right">

      </div>
    </div><!-- end .container -->

  </div><!-- end .section-top -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <button type="button" class="navbar-toggle" onclick="openNav()">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="page-deals.html">Rooms</a></li>
          <li><a href="page-facilities-landing.html">Attraction</a></li>
          <li><a href="page-gallery-landing.html">Gallery</a></li>
          <li><a href="page-contactus.html">Amenities</a></li>
          <li><a href="page-contactus.html">Reviews</a></li>
          <li><a href="page-contactus.html">Contact</a></li>
        </ul>
      </div>
      <!-- mobile menu -->
      <div class="mobmenu">
        <div id="mobinav" class="sidenav">
          <div class="mobinav-inner login">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <ul class="monav">
              <li class="line-top"><a href="page-deals.html">Deals</a></li>
              <li class="has-submenu line-top"><a href="page-room-listing.html"><span>Rooms</a></span>
                <ul class="sub-menu">
                  <li><a href="page-room-listingdetail.html">Deluxe Twin Room (2 Single Beds)</a></li>
                  <li><a href="page-room-premiere.html">Premier King Room (1 King-size Bed)</a></li>
                  <li><a href="page-room-premieretwin.html">Premier Twin Room (2 Single Beds)</a></li>
                  <li><a href="page-room-junior.html">Junior Suite (1 King-size Bed)</a></li>
                  <li><a href="page-room-executive.html">Executive Suite (1 King-size Bed)</a></li>
                  <li><a href="page-room-president.html">President Suite (1 King-size Bed)</a></li>
                </ul>
              </li>
              <li class="has-submenu line-top"><a href="page-restocafe-landing.html"><span>Restaurant & Cafe</a></span>
                <ul class="sub-menu">
                  <li><a href="page-restocafe-landing.html">Verandah Restaurant</a></li>
                  <li><a href="page-restocafe-alfresco.html">Verandah Alfresco</a></li>
                  <li><a href="page-restocafe-nightmarket.html">Jogja Night Market</a></li>
                </ul>
              </li>
              <li class="has-submenu line-top"><a href="page-beauty-landing.html"><span>Beauty & Retail</a></span>
                <ul class="sub-menu">
                  <li><a href="page-beauty-detail.html">Retreat Spa</a></li>
                  <li><a href="page-beauty-batik.html">Batik Gallery</a></li>
                  <li><a href="page-beauty-sofra.html">Sofra Bistro</a></li>
                  <li><a href="page-beauty-bakpia.html">Bakpia Jogja Istimewa</a></li>
                  <li><a href="page-beauty-artgallery.html">Art Gallery</a></li>
                </ul>
              </li>
              <li class="has-submenu line-top"><a href="page-meetingevent-landing.html"><span>Meetings & Events</a></span>
                <ul class="sub-menu">
                  <li><a href="page-meetingevent-detail.html">Meeting</a></li>
                  <li><a href="page-meetingevent-wedding.html">Wedding</a></li>
                  <li><a href="page-meetingevent-event.html">Event</a></li>
                  <li><a href="page-meetingevent-catering.html">Catering</a></li>
                </ul>
              </li>
              <li><a href="page-facilities-landing.html">Facilities</a></li>
              <li><a href="page-gallery-landing.html">Photo Gallery</a></li>
              <li><a href="page-contactus.html">Contact Us</a></li>
            </ul>
          </div>
        </div><!-- end .mobinav -->
        <span class="icon-list-add mobico" onclick="openNav()"></span>
      </div><!-- end .mobmenu -->
    </div>
  </div>
</header>
