{% include "partials/header.html" %}

<body>
  {% include "partials/header-menu.html" %}
  <div id="wrapper" class="homepage">

    <div class="section main-slider">
      <div id="slider-main" class="owl-carousel">
        <div class="owl-slide" style="background-image: url('asset/img/slide/crew-87276.jpg')"></div>
        <div class="owl-slide" style="background-image: url('asset/img/slide/helloquence-61189.jpg')"></div>
        <div class="owl-slide" style="background-image: url('asset/img/slide/john-price-380340.jpg')"></div>
        <div class="owl-slide" style="background-image: url('asset/img/slide/nik-lanus-41808.jpg')"></div>
        <div class="owl-slide" style="background-image: url('asset/img/slide/breather-163397.jpg')"></div>
        <div class="owl-slide" style="background-image: url('asset/img/slide/breather-163395.jpg')"></div>
        <div class="owl-slide" style="background-image: url('asset/img/slide/joanna-boj-17158.jpg')"></div>
      </div><!-- end .slider-main -->

      <div class="booking-box">
        <div class="container">
          <div class="box-logo hidden-xs">
            <img src="asset/img/logo-hoteldirect.svg" alt="">
          </div>
          <h2 class="text-center visible-xs">Instant Booking</h2>
        </div>

        <form class="main-booking" action="index.html" method="post">
          <div class="container">
              <div class="row fields">
                <div class="col-md-4 col-xs-12 field">
                  <div id="datepicker" class="row">
                    <div class="col-xs-6 field">
                      <label for="">Check-in</label>
                      <div class="field-inner clearfix">
                        <input id="" type="text" class="form-control" name="" value="">
                      </div><!-- end .field-inner -->
                    </div>
                    <div class="col-xs-6 field">
                      <label for="">Check-out</label>
                      <div class="field-inner clearfix">
                        <input id="" type="text" class="form-control" name="" value="">
                      </div><!-- end .field-inner -->
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-xs-12 field">
                  <div id="totalnumber" class="row">
                    <div class="col-sm-6 field">
                      <div class="form-group">
                        <label for="">Total Night(s)</label>
                        <div class="field-inner clearfix">
                          <!-- <input id="" type="text" class="form-control" name="" value=""> -->
                          <button type="button" class="qtyminus" field="night"><i class="fa fa-minus"></i></button>
                          <input type="text" id="t_night" readonly="true" name="night" class="qty form-control" value="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
                          <button type="button" class="qtyplus" field="night"><i class="fa fa-plus"></i></button>
                        </div><!-- end .field-inner -->
                      </div>
                    </div>
                    <div class="col-sm-6 field">
                      <div class="form-group">
                        <label for="">Number of Room(s)</label>
                        <div class="field-inner clearfix">
                          <!-- <input id="" type="text" class="form-control" name="" value=""> -->
                          <button type="button" class="qtyminus" field="rooms"><i class="fa fa-minus"></i></button>
                          <input type="text" readonly="true" name="rooms" value="1" class="qty form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
                          <button type="button" class="qtyplus" field="rooms"><i class="fa fa-plus"></i></button>
                        </div><!-- end .field-inner -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-xs-12 field">
                  <div class="form-group book-button">
                    <label for="">2 room nights sold today. Last booking 1 hour ago</label>
                    <button type="submit" class="btn btn-yellow">Check Availability</button>
                  </div>
                </div>
              </div>
            <p>Occupancy per room is limited to 2 adults. <a href="#">Click here</a> to read hotel's policy on accompanying children, extra beds and breakfast</p>
            <div class="booking-powered-by text-center visible-xs">
              <img class="center-block" src="asset/img/powered-by-indohotels.svg" alt="">
            </div>
          </div>
        </form>

      </div><!-- end .booking-box -->
    </div><!-- end .main-slider -->

    <div class="section content-intro">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="intro-image">
              <ul>
                <li>
                  <span><img src="asset/img/slide/crew-87276.jpg" alt="" class="img-responsive"></span>
                </li>
                <li>
                  <span><img src="asset/img/slide/crew-87276.jpg" alt="" class="img-responsive"></span>
                </li>
              </ul>
            </div><!-- end .intro-image -->
          </div><!-- end .col-md-6 col-sm-6 -->
          <div class="col-md-6 col-sm-6">
            <div class="intro-content">
              <h3>Best Hotel in Yogyakarta City</h3>
              <p>Lorem ipsum dolor sit amet, in rebum electram nec, duo assum prodesset id.</p>
            </div><!-- end .intro-content -->
          </div><!-- end .col-md-6 col-sm-6 -->
        </div><!-- end .row -->
      </div><!-- end .container -->
    </div><!-- end .content-intro -->

    <div class="section content-excerpt">
      <div class="container">
        <div class="box-excerpt text-center">
          <h2>Best Price Guarantee</h2>
          <p>Lorem ipsum dolor sit amet, in rebum electram nec, duo assum prodesset id. Vis ferri exerci scriptorem eu. Detracto legendos posidonium cu per. Et sonet legendos eos. Eu eam posse dolores, quo ne delicata deterruisset.</p>
        </div><!-- end .box-excerpt -->
      </div><!-- end .container -->
    </div><!-- end .content-excerpt -->

    <div class="section content-rooms">
      <div class="container">
        <h3>Rooms & Suites</h3>

        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="box-content">
              <div class="box-image">
                <a href="page-room-listingdetail.html">
                  <img src="asset/img/medium/neonbrand-381374.jpg" alt="" class="img-responsive">
                </a>
              </div><!-- end .box-image -->
              <div class="box-info text-center">
                <h4>Deluxe Twin Room</h4>
              </div><!-- end .box-info -->
            </div><!-- end .box-content -->

          </div><!-- end col-md-3 col-sm-3 col-xs-12 -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="box-content">
              <div class="box-image">
                <a href="page-room-listingdetail.html">
                  <img src="asset/img/medium/neonbrand-381354.jpg" alt="" class="img-responsive">
                </a>
              </div><!-- end .box-image -->
              <div class="box-info text-center">
                <h4>Deluxe Twin Room</h4>
              </div><!-- end .box-info -->
            </div><!-- end .box-content -->

          </div><!-- end col-md-3 col-sm-3 col-xs-12 -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="box-content">
              <div class="box-image">
                <a href="page-room-listingdetail.html">
                  <img src="asset/img/medium/neonbrand-381372.jpg" alt="" class="img-responsive">
                </a>
              </div><!-- end .box-image -->
              <div class="box-info text-center">
                <h4>Deluxe Twin Room</h4>
              </div><!-- end .box-info -->
            </div><!-- end .box-content -->

          </div><!-- end col-md-3 col-sm-3 col-xs-12 -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="box-content">
              <div class="box-image">
                <a href="page-room-listingdetail.html">
                  <img src="asset/img/medium/markus-spiske-37931.jpg" alt="" class="img-responsive">
                </a>
              </div><!-- end .box-image -->
              <div class="box-info text-center">
                <h4>Deluxe Twin Room</h4>
              </div><!-- end .box-info -->
            </div><!-- end .box-content -->

          </div><!-- end col-md-3 col-sm-3 col-xs-12 -->
        </div><!-- end .row -->
    </div><!-- end .container -->
    </div><!-- end .content-rooms -->

      <div class="section content-gallery">
        <h3>Our Gallery</h3>



      </div><!-- end .content-gallery -->


  </div><!-- end .content -->

  {% include "partials/footer.html" %}
  {% include "partials/footer-script.html" %}



</body>
</html>
