{% include "partials/header.html" %}

<body>
  {% include "partials/header-menu.html" %}
  <div id="wrapper" class="homepage">

    <div class="section main-slider">
      <div id="slider-main" class="owl-carousel">
        <div class="owl-slide" style="background-image: url('asset/img/slide/crew-87276.jpg')"></div>
        <div class="owl-slide" style="background-image: url('asset/img/slide/helloquence-61189.jpg')"></div>
        <div class="owl-slide" style="background-image: url('asset/img/slide/john-price-380340.jpg')"></div>
        <div class="owl-slide" style="background-image: url('asset/img/slide/nik-lanus-41808.jpg')"></div>
        <div class="owl-slide" style="background-image: url('asset/img/slide/breather-163397.jpg')"></div>
        <div class="owl-slide" style="background-image: url('asset/img/slide/breather-163395.jpg')"></div>
        <div class="owl-slide" style="background-image: url('asset/img/slide/joanna-boj-17158.jpg')"></div>
      </div><!-- end .slider-main -->

      <div class="booking-box">
        <div class="container">
          <div class="box-logo hidden-xs">
            <img src="asset/img/powered-by-indohotels-with-bg.svg" alt="">
          </div>
          <h2 class="text-center visible-xs">Instant Booking</h2>
        </div>

        <form class="main-booking" action="index.html" method="post">
          <div class="container">
              <div class="row fields">
                <div class="col-md-4 col-xs-12 field">
                  <div id="datepicker" class="row">
                    <div class="col-xs-6 field">
                      <label for="">Check-in</label>
                      <div class="field-inner clearfix">
                        <input id="" type="text" class="form-control" name="" value="">
                      </div><!-- end .field-inner -->
                    </div>
                    <div class="col-xs-6 field">
                      <label for="">Check-out</label>
                      <div class="field-inner clearfix">
                        <input id="" type="text" class="form-control" name="" value="">
                      </div><!-- end .field-inner -->
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-xs-12 field">
                  <div id="totalnumber" class="row">
                    <div class="col-sm-6 field">
                      <div class="form-group">
                        <label for="">Total Night(s)</label>
                        <div class="field-inner clearfix">
                          <!-- <input id="" type="text" class="form-control" name="" value=""> -->
                          <button type="button" class="qtyminus" field="night"><i class="fa fa-minus"></i></button>
                          <input type="text" id="t_night" readonly="true" name="night" class="qty form-control" value="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
                          <button type="button" class="qtyplus" field="night"><i class="fa fa-plus"></i></button>
                        </div><!-- end .field-inner -->
                      </div>
                    </div>
                    <div class="col-sm-6 field">
                      <div class="form-group">
                        <label for="">Number of Room(s)</label>
                        <div class="field-inner clearfix">
                          <!-- <input id="" type="text" class="form-control" name="" value=""> -->
                          <button type="button" class="qtyminus" field="rooms"><i class="fa fa-minus"></i></button>
                          <input type="text" readonly="true" name="rooms" value="1" class="qty form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
                          <button type="button" class="qtyplus" field="rooms"><i class="fa fa-plus"></i></button>
                        </div><!-- end .field-inner -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-xs-12 field">
                  <div class="form-group book-button">
                    <label for="">2 room nights sold today. Last booking 1 hour ago</label>
                    <button type="submit" class="btn btn-yellow">Check Availability</button>
                  </div>
                </div>
              </div>
            <p>Occupancy per room is limited to 2 adults. <a href="#">Click here</a> to read hotel's policy on accompanying children, extra beds and breakfast</p>
            <div class="booking-powered-by text-center visible-xs">
              <img class="center-block" src="asset/img/powered-by-indohotels.svg" alt="">
            </div>
          </div>
        </form>

      </div><!-- end .booking-box -->
    </div><!-- end .main-slider -->

    <div class="container">

      <div class="section content-intro">
        <h1>Eastparc Hotel Yogyakarta</h1>
        <div class="text-center">
          <p>Lorem ipsum dolor sit amet, in rebum electram nec, duo assum prodesset id. Vis ferri exerci scriptorem eu. Detracto legendos posidonium cu per. Et sonet legendos eos. Eu eam posse dolores, quo ne delicata deterruisset.</p>

          <p>Mollis vocent his ut, et pri munere adversarium, blandit rationibus pri te. Pro amet mundi cu, quo te denique percipit salutatus. Summo legimus nonumes te has, ad velit novum senserit sed. Has no justo facilis, et libris insolens sit, clita utamur sapientem ad quo. Duo dico latine recteque eu, ut aeque causae has. Duo viris ludus menandri et, vis no veritus persecuti constituam.</p>

          <p>At vide salutatus qui, id nam voluptua placerat liberavisse, ne erat noluisse lobortis quo. Ex quo sumo luptatum dissentias, vix no albucius interesset definitiones, sit ea nobis recteque omittantur. Cum enim voluptua senserit id. Ius graecis tibique in. Eam atqui inciderint id, mea ne numquam inimicus constituam. Eos in essent explicari expetendis, duo ea postea utroque dolores, facilisi dissentias mea ne.</p>
        </div>
      </div><!-- end .content-intro -->

      <div class="section content-rooms">
        <h3>Rooms</h3>

      </div><!-- end .content-rooms -->

      <div class="section content-amenities">
        <h3>Awards & Accolades</h3>

        <div class="awards-slide owl-carousel">
          <div class="awardbox clearfix">
            <div class="awardimg pull-left">
              <img src="asset/img/traveloka.png" alt="" class="img-responsive">
            </div>
            <div class="awardtext pull-right">
              <p>Traveloka Guest Review 2017</p>
            </div>
          </div>
          <div class="awardbox clearfix">
            <div class="awardimg pull-left">
              <img src="asset/img/trip.png" alt="" class="img-responsive">
            </div>
            <div class="awardtext pull-right">
              <p>Tripadvisor Certificate of Excellence : Verandah Restaurant</p>
            </div>
          </div>
        </div><!-- end .deals-slide -->
      </div><!-- end .content-awards -->
    </div><!-- end .container -->

  </div><!-- end .content -->

  {% include "partials/footer.html" %}
  {% include "partials/footer-script.html" %}



</body>
</html>
